* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.container {
    width: 100%;
    background-image: url(../Images/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    width: auto;
    height: 75px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.icon {
    width: auto;
    float: left;
    height: 70px;
}

.span1 {
    color: rgb(2, 233, 79);
}

.logo {
    color: rgb(221, 77, 0);
    font-size: 35px;
    padding-left: 20px;
    float: left;
    padding-top: 15px;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin: 27px 0 0 42px;
    font-size: 17px;
    transition: all 0.4s ease-in-out;
}

ul li:hover {
    transform: scale(1.1);
}

ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
    padding: 5px 25px;
    border-radius: 5px;
}

ul li a:hover {
    background-color: rgb(194, 190, 190);
    color: black;
}

.search {
    width: 640px;
    float: left;
    margin-left: 550px;
    margin-top: 20px;
}

.srch {
    width: 300px;
    padding: 4px 0 4px 10px;
    border-radius: 6px;
}

.btn {
    width: 60px;
    padding: 3px 5px;
    font-size: 15px;
    transition: all 0.4s ease-in-out;
    border-radius: 6px;
}

.btn:hover {
    background-color: skyblue;
    color: white;
}

.content {
    margin: 100px 0 0 80px;
    width: 600px;
}

.p1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.p2 {
    font-size: 20px;
    color: white;
}

.span2 {
    font-size: 50px;
    color: tomato;
}

.btn1 {
    margin-top: 10px;
    padding: 5px 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.btn1:hover {
    background: rgb(155, 153, 153);
    transform: scale(1.2);
    border: none;
}

.card1 {
    display: flex;
    justify-content: space-between;
}

.card2 {
    margin: 100px 80px 0 0;
    width: auto;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)60%, rgba(0, 0, 0, 0.8)60%);
    border-radius: 9px;
}

.login {
    padding: 35px 35px 10px 35px;
}

.card2 h1 {
    background-color: white;
    color: tomato;
    width: 200px;
    width: 280px;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
}

input {
    padding: 3px 10px;
    width: 255px;
    background: transparent;
    border-bottom: 1px solid tomato;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 35px;
    color: white;
}

input:focus {
    outline: none;
}

#input1 {
    margin-top: 10px;
}

#input2 {
    margin-top: 10px;
}

::placeholder {
    color: white;
    font-size: 15px;
}

.btn2 {
    text-decoration: none;
    background: tomato;
    border-radius: 5px;
    color: black;
    width: 280px;
    margin-top: 25px;
    padding: 4px 15px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    height: 45px;
    transition: all 0.4s ease-in-out;
}

.btn2:hover {
    color: white;
    transform: scale(1.03);
}

.ftr {
    text-align: center;
}

a {
    text-decoration: none;
}

.span3 {
    color: tomato;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

.span3:hover {
    text-decoration: underline;
}

.p3 {
    margin-top: 13px;
}

.social {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.link {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
}

.link:hover {
    color: rgb(189, 241, 189);
    transform: scale(1.1);
}

#check,
#btn,
#cross {
    display: none;
}